<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticsEvent("click_linkedin", "footer", "linkedin")' href="#" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticsEvent("click_send_mail", "footer", "email")' href="mailto:forbmanagement@gmail.com" target='_blank'>forbmanagement&#64;gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticsEvent("click_github_portfolio_peter-evance", "footer", "click")' href="https://github.com/peter-evance" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built by Peter Evance</div>
        </a>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticsEvent("click_github_portfolio_peter-evance", "footer", "click")' href="https://github.com/peter-evance" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built by Peter Evance.</div>
        </a>
    </div>

</footer>
