<section class="section about" id='about' (keydown)="onKeyDown($event)" tabindex="0">
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-animate="slideInUp" data-animate-duration="1000">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> {{"AboutMe.Title" | translate}}
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p *ngFor='let text of "AboutMe.Paragraphs" | translate; let i = index'
                           [innerHTML]="text"
                           data-animate="fadeInLeft"
                           [attr.data-animate-delay]="200 + (i * 300)"
                           data-animate-duration="800">
                        </p>
                        <ul class="skills-list" data-animate="fadeInUp" data-animate-delay="800">
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1000">
                                <span class="underline">Corporate Governance</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1100">
                                <span class="underline">Strategic Development</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1200">
                                <span class="underline">Business Process Re-engineering</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1300">
                                <span class="underline">ERP Implementation</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1400">
                                <span class="underline">KRA Tax Services</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1500">
                                <span class="underline">NITA Training</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1600">
                                <span class="underline">Financial Management</span>
                            </li>
                            <li class="skill-element"
                                data-animate="scaleIn"
                                data-animate-delay="1700">
                                <span class="underline">Project Management</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center"
                     data-animate="morphIn"
                     data-animate-duration="1200"
                     data-animate-delay="600">
                    <div class="about-img-container leader-carousel-container">
                        <h4 class="leadership-title">{{"Leadership.Title" | translate}}</h4>
                        <owl-carousel-o [options]="leaderCarouselOptions">
                            <ng-container *ngFor="let leader of leadershipTeam; let i = index">
                                <ng-template carouselSlide [id]="leader.Name+'_slide_'+i">
                                    <div class='leader-slide' (click)='onLeaderClick(leader)'>

                                        <img *ngIf="leader.Img"
                                             class='rounded leader-image clickable'
                                             [ngSrc]="leader.Img"
                                             [alt]="leader.Name"
                                             width="450"
                                             height="450"
                                             title="Click to view details">

                                        <div *ngIf="!leader.Img"
                                             class="leader-image-placeholder rounded"
                                             style="width: 450px; height: 450px;">
                                            <p>No Image</p>
                                        </div>

                                        <div class="leader-info">
                                            <h5 class="leader-name">{{leader.Name}}</h5>
                                            <p class="leader-title">{{leader.Title}}</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-modal-overlay"
         *ngIf="isImageModalOpen"
         (click)="onModalBackdropClick($event)"
         [@fadeInOut]>
        <div class="image-modal-container">
            <button class="modal-close-btn"
                    (click)="closeImageModal()"
                    aria-label="Close office image modal">
                <span>&times;</span>
            </button>
            <img class="modal-image"
                 ngSrc="../../../../assets/images/office.jpeg"
                 alt="Vorster Forb Management Consultants - Enlarged view"
                 width="1200"
                 height="750"
                 [@zoomIn]>
        </div>
    </div>

    <div class="leader-modal-overlay"
         *ngIf="isLeaderModalOpen && selectedLeader"
         (click)="onModalBackdropClick($event)"
         [@fadeInOut]>
        <div class="leader-modal-container">
            <button class="modal-close-btn"
                    (click)="closeLeaderModal()"
                    aria-label="Close leader details modal">
                <span>&times;</span>
            </button>
            <div class="leader-details-content" [@zoomIn]>
                <div class="leader-image-box">
                    <img *ngIf="selectedLeader.Img"
                         class="leader-modal-image rounded"
                         [ngSrc]="selectedLeader.Img"
                         [alt]="selectedLeader.Name"
                         width="150"
                         height="150">
                    <div *ngIf="!selectedLeader.Img"
                         class="leader-modal-image leader-modal-placeholder rounded"
                         style="width: 150px; height: 150px;">
                        <p>No Image</p>
                    </div>
                </div>
                <div class="leader-text-box">
                    <h2 class="leader-modal-name">{{selectedLeader.Name}}</h2>
                    <h3 class="leader-modal-title">{{selectedLeader.Title}}</h3>
                    <p class="leader-modal-bio">{{selectedLeader.Bio}}</p>
                    <button class="btn btn-primary mt-3" (click)="closeLeaderModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>