<section class="section" id="contact-office">
    <div class="container contact-office">
        <div class="section-box">
            <div class="about-title mb-5" data-animate="slideInUp" data-animate-duration="1000">
                <h3 class="e-font section-title">
                    <span class="code-font n-section-title">06.</span>
                    Contact Us
                </h3>
            </div>
            <div class="contact-tabs" data-animate="fadeInUp" data-animate-duration="1200" data-animate-delay="300">
                <ul
                        ngbNav
                        #nav="ngbNav"
                        [(activeId)]="active"
                        orientation="vertical"
                        class="nav-tabs contact-tabs"
                >
                    <li
                            *ngFor="let section of contactSections; let i = index"
                            [title]="section.tab"
                            [ngbNavItem]="i"
                            data-animate="scaleIn"
                            [attr.data-animate-delay]="600 + (i * 150)"
                    >
                        <a ngbNavLink>
                            <span class="tab-icon">{{ section.icon }}</span>
                            {{ section.tab }}
                        </a>
                        <ng-template ngbNavContent>
                            <h4 class="title-tab-content">
                                {{ section.title }}
                            </h4>
                            <div class="contact-content">
                                <p
                                        *ngFor="let item of section.content; let i = index"
                                        class="contact-item"
                                        [innerHTML]="item"
                                        data-animate="fadeInLeft"
                                        [attr.data-animate-delay]="i * 150"
                                ></p>
                                <!-- Show schedule button only on the Schedule tab -->
                                <div class="mt-3" *ngIf="section.tab === 'Schedule'">
                                    <app-dynamic-button
                                            [text]="'Schedule a Consultation'"
                                            href="mailto:forbmanagement@gmail.com?subject=Schedule%20Consultation"
                                            target="_blank"
                                            analyticsEvent="click_schedule"
                                            analyticsCategory="contact"
                                            analyticsLabel="schedule_email"
                                            variant="primary">
                                    </app-dynamic-button>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</section>